<div class="announce">
  Najnowsze wersje
  <a href="http://weblog.rubyonrails.org/2014/2/18/Rails-4-1-rc1/">Rails 4.1.0 RC 1</a>,
  <a href="http://weblog.rubyonrails.org/2014/2/18/Rails_3_2_17_4_0_3_and_4_1_0_beta2_have_been_released/"><b>Rails 4.0
    .3</b></a>,
  <a href="http://weblog.rubyonrails.org/2014/2/18/Rails_3_2_17_4_0_3_and_4_1_0_beta2_have_been_released/">Rails 3.2
    .17</a>,
  <a href="http://torquebox.org/news/2014/01/30/torquebox-3-0-2-released/">Torquebox 3.0.2</a>
</div>
