<div class="announce">
  Najnowsze wersje
  <a href="http://weblog.rubyonrails.org/2014/5/6/Rails_3_2_18_4_0_5_and_4_1_1_have_been_released/">Rails 4.1.1</a>,
  <a href="http://weblog.rubyonrails.org/2014/5/6/Rails_3_2_18_4_0_5_and_4_1_1_have_been_released/"><b>Rails 4.0
    .5</b></a>,
  <a href="http://weblog.rubyonrails.org/2014/5/6/Rails_3_2_18_4_0_5_and_4_1_1_have_been_released/">Rails 3.2
    .18</a>,
  <a href="http://torquebox.org/news/2014/03/25/torquebox-3-1-0-released/">Torquebox 3.1.0</a>
</div>
