<div class="announce">
  Najnowsze wersje
  <a href="http://weblog.rubyonrails.org/2014/6/26/Rails-4-1-2-and-4-0-6-has-been-released/">Rails 4.1.2</a>,
  <a href="http://weblog.rubyonrails.org/2014/6/26/Rails-4-1-2-and-4-0-6-has-been-released/"><b>Rails 4.0.6</b></a>,
  <a href="http://torquebox.org/news/2014/03/25/torquebox-3-1-0-released/">Torquebox 3.1.0</a>
</div>
