<div class="announce">
  Najnowsze wersje
  <a href="http://weblog.rubyonrails.org/2015/3/19/Rails-4-2-1-and-4-1-10-have-been-released/">Rails 4.2.1</a>,
  <a href="http://weblog.rubyonrails.org/2015/3/19/Rails-4-2-1-and-4-1-10-have-been-released/"><b>Rails 4.1.10</b></a>,
  <a href="http://torquebox.org/news/2015/04/09/torquebox-3-1-2-released/">Torquebox 3.1.2</a>
</div>
