<div class="copyright">
     <p>System Ruby on Rails został stworzony przez <a href="http://david.heinemeierhansson.com/about.html">Davida Heinemeiera Hanssona</a>, w partnerstwie z <a href="http://www.37signals.com">37signals</a>,<br/>
       potem rozszerzany i ulepszany przez setki programistów open-source.
     </p>

</div>
