<div class="copyright">
     <p>System Ruby on Rails został stworzony przez <a href="http://www.loudthinking.com/about.html">David'a Heinemeier Hansson'a</a>, w partnerstwie z <a href="http://www.37signals.com">37signals</a>,<br/>
       potem rozszerzany i ulepszany przez <a href="/programisci">główny zespół programistów</a> i setki programistów open-source.
     </p>
        
    <p>Rails jest wydany na <a href="http://www.opensource.org/licenses/mit-license.php">licencji MIT</a>. Ruby na <a href="http://www.ruby-lang.org/en/LICENSE.txt">licencji Ruby</a>.</p>

     <p>"Rails", "Ruby on Rails" oraz logo Rails są chronionymi znakami towarowymi David'a Heinemeier Hansson'a. Wszelkie prawa zastrzeżone.</p>
   
</div>
