---
title: Aplikacje stworzone w Ruby on Rails
---

<div class="sub">

  <%= image_tag("basecamp_large.gif") %>
</div>

<div class="main">
  <p>
    <a href="http://www.basecamphq.com">Basecamp</a> jest aplikacją na bazie której powstał framework Ruby on Rails.
    Basecamp został wydany przez firmę <a href="http://www.37signals.com">37signals</a> w lutym 2004, posiada <span class="highlight">ponad pół miliona zadowolonych użytkowników</span>. Wspiera zarządzanie projektami (komunikacja w zespole i z klientami).
  </p>

</div>

<div class="clearall">&nbsp;</div>

<div class="sub">
  <%= image_tag("43things_large.gif") %>
</div>

<div class="main">
  <p>

    <a href="http://www.43things.com">43things</a> jest owocem idei Josha, Daniela i Eryka z <a href="http://robotcoop.com/">The Robot Co-op</a>.
    Jego głównym celem jest pomoc ludziom w zapisywaniu celów, które chcą osiągnąć w życiu. Strona została uruchomiona w sierpniu 2004 i wspólnie z 43places i 43people, 
    obsługuje <span class="highlight">ponad milion odsłon strony dziennie</span>.
  </p>
</div>



<div class="clearall">&nbsp;</div>

<div class="sub">
  <h1>Polskie aplikacje</h1>

</div>

<div class="main">

  <table class="productgrid" border="0"  summary="Polskie aplikacje zbudowane w oparciu o Ruby on Rails">
    <tr>
      <td style="padding-right: 15px">
        <a href="http://www.hogo.pl/" class="no_link_hover"><r:attachment:image name="hogo.png" width="175" height="110" width="175" height="110" alt="Wyszukiwarka mieszkaniowa Hogo.pl" /></a>
        <p><a href="http://www.hogo.pl/">Hogo.pl</a>: Wertykalna wyszukiwarka ogłoszeń mieszkaniowych.</p>
      </td>

      <td>
        <a href="http://www.blip.pl/" class="no_link_hover"><r:attachment:image name="blip.png" width="175" height="110" alt="Blip.pl" /></a>
        <p><a href="http://www.blip.pl/">Blip.pl</a>: Blip to blog, komunikator i chat w jednym.</p>
      </td>
    </tr>

    <tr>
      <td style="padding-right: 15px">
        <a href="http://www.webankieta.pl/" class="no_link_hover"><r:attachment:image name="webankieta-nano.png" width="175" height="110" width="175" height="110" alt="Twoja ankieta online" /></a>
        <p><a href="http://www.hogo.pl/">Webankieta.pl</a>: Webankieta.pl to największy polski serwis pozwalający na samodzielne przygotowanie oraz
	  przeprowadzenie badań ankietowych w Internecie.</p>
      </td>

      <td valign="top">
        <a href="http://infakt.pl/" class="no_link_hover"><r:attachment:image name="infakt.png" width="175" height="110" alt="Infakt.pl" /></a>
        <p><a href="http://infakt.pl/">Infakt.pl</a>: Infakt.pl to program do wystawiania faktur VAT online.</p> 
      </td>
    </tr>

  </table>
</div>


<div class="clearall">&nbsp;</div>

<div class="sub">

  <h1>Więcej aplikacji</h1>
</div>

<div class="main">
  <table class="productgrid" border="0" summary="Przykłady aplikacji zbudowanych w opraciu o Ruby on Rails">
    <tr>
      <td style="padding-right: 15px">
        <a href="http://www.backpackit.com/" class="no_link_hover"><r:attachment:image name="backpack.gif" width="175" height="110" alt="Backpack" /></a>
        <p><a href="http://www.backpackit.com/">Backpack</a>: Osobista organizacja.</p>

      </td>
      <td>
        <a href="http://www.odeo.com/" class="no_link_hover"><r:attachment:image name="odeo.gif" width="175" height="110" alt="ODEO" /></a>
        <p><a href="http://www.odeo.com/">ODEO</a>: Nagrywanie i dzielenie się z innymi podcastami.</p>
      </td>
    </tr>                                           

    <tr>
      <td>

        <a href="http://www.strongspace.com/" class="no_link_hover"><r:attachment:image name="strongspace.gif" width="175" height="110" alt="Strongspace" /></a>
        <p><a href="http://www.strongspace.com/">Strongspace</a>: Bezpieczny hosting plików.</p>
      </td>
      <td>
        <a href="http://typo.leetsoft.com/" class="no_link_hover"><r:attachment:image name="typo.gif" width="175" height="110" alt="Typo" /></a>
        <p><a href="http://typo.leetsoft.com/">Typo</a>: System blogowy w Rails.</p>

      </td>

    </tr>                                           

    <tr>
      <td>
        <a href="http://www.tadalist.com/" class="no_link_hover"><r:attachment:image name="tadalist.gif" width="175" height="110" alt="Tadalist" /></a>
        <p><a href="http://www.tadalist.com/">Tadalist</a>: Tworzenie listy rzeczy do zrobienia.</p>
      </td>
      <td>

        <a href="http://www.writeboard.com/" class="no_link_hover"><r:attachment:image name="writeboard.gif" width="175" height="110" alt="Writeboard" /></a>

        <p><a href="http://www.writeboard.com/">Writeboard</a>: Edycja dokumentów online.</p>
      </td>
    </tr>

    <tr>
      <td>
        <a href="http://www.iconbuffet.com/categories/icons" class="no_link_hover"><r:attachment:image name="iconbuffet.gif" width="175" height="110" alt="Iconbuffet" /></a>

        <p><a href="http://www.iconbuffet.com/categories/icons">Iconbuffet</a>: kup ikony royalty-free.</p>

      </td>
      <td>
        <a href="http://www.blinksale.com/" class="no_link_hover"><r:attachment:image name="blinksale.gif" width="175" height="110" alt="Blinksale" /></a>
        <p><a href="http://www.blinksale.com/">Blinksale</a>: Proste fakturowanie online.</p>
      </td>

    </tr>

    <tr>

      <td>
        <a href="http://www.alistapart.com/" class="no_link_hover"><r:attachment:image name="ala.gif" width="175" height="110" alt="A List Apart" /></a>
        <p><a href="http://www.alistapart.com/">A List Apart</a>: Magazyn dla web developerów.</p>
      </td>
      <td>

        <a href="http://www.vitalsource.com/betterbooks/" class="no_link_hover"><r:attachment:image name="vitalsource.gif" width="175" height="110" alt="VitalSource" /></a>
        <p><a href="http://www.vitalsource.com/betterbooks/">VitalSource</a>: Księgarnia z e-bookami.</p>

      </td>
    </tr>

    <tr>
      <td>
        <a href="http://www.penny-arcade.com/" class="no_link_hover"><r:attachment:image name="pennyarcade.gif" width="175" height="110" alt="Penny Arcade" /></a>

        <p><a href="http://www.penny-arcade.com/">Penny Arcade</a>: Komiksy dla graczy.</p>
      </td>

      <td>
        <a href="http://www.bellybutton.de/" class="no_link_hover"><r:attachment:image name="bellybutton.jpg" width="175" height="110" alt="Bellybutton" /></a>
        <p><a href="http://www.bellybutton.de/">Bellybutton</a>: Niemiecki sklep dla mam.</p>
      </td>

    </tr>

    <tr>
      <td>
        <a href="http://www.yakimaherald.com/" class="no_link_hover"><r:attachment:image name="yakima.jpg" width="175" height="110" alt="Yakima Herald" /></a>

        <p><a href="http://www.yakimaherald.com/">Yakima Herald</a>: Gazeta online.</p>
      </td>
      <td>

        <a href="http://www.wayfaring.com/" class="no_link_hover"><r:attachment:image name="wayfairing.gif" width="175" height="110" alt="Wayfairing" /></a>
        <p><a href="http://www.wayfaring.com/">Wayfairing</a>: Podążaj za mną.</p>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <p style="text-align: center"><i><a href="http://happycodr.com/">Jeszcze więcej aplikacji</a></i></p>

      </td>
    </tr>

  </table>
</div>

<div class="clearall">&nbsp;</div>

<div class="sub">
  <h1>Nadchodzące aplikacje</h1>

</div>

<div class="main">

  <table class="productgrid" border="0"  summary="Nadchodzące aplikacje zbudowanych w opraciu o Ruby on Rails">
    <tr>
      <td style="padding-right: 15px">
        <a href="http://www.measuremap.com/" class="no_link_hover"><r:attachment:image name="measuremap.gif" width="175" height="110" width="175" height="110" alt="Measuremap" /></a>
        <p><a href="http://www.measuremap.com/">Measuremap</a>: Statystyki odwiedzin.</p>
      </td>

    </tr>

  </table>
</div>
