---
title: Cytaty o Ruby on Rails
---
<% content_for(:message) do %>
  <%= image_tag("hdr-quotes.gif", :alt => "Miłe wypowiedzi mądrych ludzi") %>
<% end %>

<% content_for(:extended) do %>
<div id="quote-show">

  <p class="quote" id="quote1">
    &#8220;Rails to najbardziej przemyślany framework do tworzenia aplikacji sieciowych jakiego kiedykolwiek używałem.<br />
    Mówię tu o dekadzie zarabiania na życie tworzeniem aplikacji. <br />Tworzyłem swóje własne framework'i, pomogłem rozwinąć Servlet API i napisałem dosyć sporo serwerów WWW od początku.<br /> Nikomu jeszcze nie udało się stworzyć czegoś takiego jak Rails.&#8221;<br />
    <cite>-James Duncan Davidson, Twórca Tomcat'a i Ant'a</cite>

  </p>

  <p class="quote" id="quote2">
    &#8220;Ruby on Rails jest przełomem w dziedzinie programowania aplikacji internetowych.<br/>
    Potężne aplikacje, których tworzenie do tej pory zabierało tygodnie czy miesiące, <br/>
    są teraz tworzone dosłownie w kilka dni.&#8221;<br />
    <cite>-Tim O'Reilly, Założyciel O'Reilly Media</cite>

  </p>

  <p class="quote" id="quote3">
    &#8220;Niemożliwym jest nie zauważyć Ruby on Rails. Rails miały ogromny wpływ na <br />
    społeczność Rubiego jak i poza nią... Rails stały się standardem do którego nawet <br />znane i popularne narzędzia są porównywane.&#8221;<br />
    <cite>-Martin Fowler, Autor książek "Refactoring, PoEAA, XP Explained"</cite>

  </p>

  <p class="quote" id="quote4">
    &#8220;To co odróżnia ten framework od innych to przewaga <br />
    konwencji nad konfiguracją, która ułatwia budowę i zrozumienie aplikacji.&#8221;<br />
    <cite>-Sam Ruby, zarząd ASF</cite>

  </p>

  <p class="quote" id="quote5">
    &#8220;Przed powstaniem Ruby on Rails, programowanie aplikacji internetowych wymagało sporo rozwlekłości, kroków i czasu.<br />
    Teraz projektanci web i programiści mogą stworzyć serwis internetowy<br />
    o wiele szybciej i prościej, skupiając się bardziej na tym jak być bardziej produktywnym<br />
    i efektywnym w swojej pracy.&#8221;<br />

    <cite>-Bruce Perens, Open Source Luminary</cite>

  </p>

  <p class="quote" id="quote6">
    &#8220;Po zbadaniu rynku, Ruby on Rails okazały się być najlepszym wyborem.<br />
    Jesteśmy zadowoleni z tej decyzji. Dalej będziemy tworzyć<br />
    przy użyciu Rails i uważamy Rails za kluczowy składnik naszej przewagi biznesowej.&#8221;<br />

    <cite>-Evan Williams, Twórca Blogger'a i ODEO</cite>

  </p>

  <p class="quote" id="quote7">
    &#8220;Ruby on Rails jest zdumiewający. Używanie Rails jest jak oglądanie filmu kung-fu ,<br />
    gdzie złe frameworki przygotowują się na skopanie małego przybysza<br />
    i okazuje się że mały przybysz kopie ich tyłki na tysiąc różnych sposobów.&#8221;<br />

    <cite>-Nathan Torkington, O'Reilly, OSCON</cite>

  </p>

  <p class="quote" id="quote8">
    &#8220;Rails to "zabójcza aplikacja" Rubiego.&#8221;<br />

    <cite>Yukihiro Matsumoto, Twórca języka Ruby</cite>
  </p>

</div>
<% end %>
