---
title: Ekosystem
---
<% content_for(:message) do %>
  <%= image_tag("ekosystem.gif", :alt => "Ekosystem wsparcia") %>
<% end %>

<div class="sub">
  <h1>Editors &amp; IDEs</h1>
</div>

<div class="main">
  <%= image_tag("textmate.png", :alt=>"TextMate", :align=>"right", :style=>"margin-left: 10px;") %>
  <p>
    <a href="http://macromates.com/">TextMate dla OS X</a> jest dla wielu programistów Rails ulubionym edytorem choć wsparcie dla Rails w klasycznych edytorach jest bardzo dobre. 
    <a href="http://www.vim.org/scripts/script.php?script_id=1567">VIM i Rails</a> oraz <a href="http://rinari.rubyforge.org">Emacs i Rails</a>.
  </p>
  
  <p>
    Z IDE wspierających Rails i kod Rubiego warto wymienić: <a href="http://www.jetbrains.com/ruby/index.html">RubyMine</a> (najlepszy), <a href="http://www.netbeans.org/features/ruby/index.html">Netbeans</a>, <a href="http://www.aptana.com/rails/">RadRails</a>.
  </p>
</div>


<br clear="all">

<div class="sub">
  <h1>Monitorowanie wydajności</h1>
</div>

<div class="main">
  <%= image_tag("fiverunsandnewrelic.png", :alt=>"New Relic", :align=>"right", :style=>"margin-left: 10px;") %>
  <p>
    Specjalnie w celu monitorowania wydajności aplikacji Rails powstały różne projekty: <a href="http://www.newrelic.com">New Relic</a> oraz <a href="http://scoutapp.com">Scout</a>. Jeśli pracujesz nad bardzo popularną aplikacją powinieneś sprawdzić któryś z powyższych projektów.
  </p>
</div>


<br clear="all">

<div class="sub">
  <h1>Hosting</h1>
</div>

<div class="main">

  <p>Coraz więcej firm hostingowych wspiera Rails, niektóre oferują usługi hostingowe przeznaczone szczególnie do aplikacji Rails: <a href="https://shellycloud.com">Shelly Cloud</a>, <a href="http://www.heroku.com/">Heroku</a>, <a href="http://www.brightbox.co.uk/">Brightbox</a>, <a href="http://www.engineyard.com/">Engine Yard</a>. Jeśli szukasz VPS'a polecamy <a href="http://www.megiteam.pl">MegiTeam</a>, <a href="http://www.oktawave.com">Oktawave</a>, <a href="http://www.rootbox.com/pl">Rootbox</a> oraz <a href="https://www.digitalocean.com">Digital Ocean</a>.</p>

  <p><a href="https://shellycloud.com">Shelly Cloud</a> jest polską firmą oferującą zautomatyzowany deployment aplikacji napisanych w Ruby na prywatnej chmurze.</p>

  <p>Od czasu pojawienia się <a href="https://www.phusionpassenger.com/">Passengera</a> coraz więcej firm zaczęło oferować hosting dzielony (shared hosting) np. <a href="http://www.megiteam.pl">Megi Team</a>.</p>
</div>


<br clear="all">

<div class="sub">
  <h1>Konsultanci</h1>
</div>

<div class="main">
  <p>
    W serwisie <a href="http://www.workingwithrails.com/">Working with Rails</a> możesz znaleźć osoby pracujące z Rails.
  </p>
</div>


<br clear="all">

<div class="sub">
  <h1>Konferencje i szkolenia</h1>
</div>

<div class="main">
  <%= image_tag("railsconf.png", :alt=>"RailsConf", :align=>"right", :style=>"margin-left: 10px;") %>
  <p>
    <a href="http://www.railsconf.com">RailsConf</a> to oficjalna, coroczna konferencja Rails. Poza nią odbywa się szereg regionalnych konferencji, np. Rails Conf Europe. W niektórych polskich miastach odbywają się czasami szkolenia i prezentacje, warto dowiedzieć się więcej z <a href="http://www.rubyonrails.pl/forum/f10-Szkolenia">forum</a>.
  </p>

  <p>
    W Europie odbywa się wiele konferencji dotyczących języka Ruby. Warto wymienić <a href="http://wrocloverb.com/">wroc_love.rb</a>, <a href="http://www.railsberry.com/">Railsberry</a> czy <a href="http://www.euruko2014.org/">EuRuKo</a>.
  </p>
</div>
