---
title: Screencasty o Ruby on Rails
---
<% content_for(:message) do %>
  <%= image_tag("hdr-screencasts.gif") %>
<% end %>

<div class="content">
  <div class="sub">
    <a href="http://railsforzombies.org" class="no_link_hover"><img width="190" height="150" src="http://weblog.rubyonrails.org/assets/2010/11/18/Rails_for_Zombies-2.jpg" style="margin-left: 15px" class="bordered"></a>
  </div>

  <div class="main">

    <h3>Nauka Rails metodą Zombie</h3>

    <p>
      Jeśli stykasz się z Ruby on Rails po raz pierwszy i chciałbyś go wypróbować, to skieruj się na stronę RailsForZombie.org. Rails for Zombies to darmowy kurs online składający się z pięciu warsztatów, każdy posiada krótki film wideo wprowadzający do ćwiczeń, których kod można od ręki wprowadzać bezpośrednio w przeglądarce.
    </p>


    <p style="font-size: 12px">
      jeśli interesuje cię historia Rails, dostępne są screencasty zrobione dla <a href="http://media.rubyonrails.org/video/rails_blog_2.mov">Ruby on Rails 2</a>, <a href="http://media.rubyonrails.org/video/rails-0-5.mov">Ruby on Rails 0.5</a> i dla <a href="http://media.rubyonrails.org/video/rails_take2_with_sound.mov">Ruby on  Rails 1.0</a>.
    </p>
  </div>

  <br clear="all">

  <div class="sub">
    <a href="http://rails4.codeschool.com/videos" class="no_link_hover"><img width="190" height="150" src="http://courseware.codeschool.com/rails4/rails4_zombie_outlaws.jpg" style="margin-left: 15px" class="bordered"></a>
  </div>

  <div class="main">
    <h3>Rails 4: Zombie Outlaws</h3>
    <p>
      Jeśli chciałbyś wziąć się za najnowszą wersję Rails, to filmy "Rails 4: Zombie Outlaw Videos" pozwolą ci posmakować nowych możliwości i ulepszonej składni. Gregg Pollack i Carols Souza wprowadzą cię w to, co potrzebujesz wiedzieć aby zacząć budować dziś aplikacje w Rails 4.
    </p>

    <p style="font-size: 12px">
      Sprawdź również the <a href="http://ruby5.envylabs.com" title="Ruby Podcast">Ruby5 Podcast</a> aby być na bieżąco z najnowszymi bibliotekami i nowościami ze świata Rails.
    </p>
  </div>

  <br clear="all">

  <div class="sub">
    <a href="http://railscasts.com" class="no_link_hover"><img width="190" height="150" src="/images/railscasts.png" style="margin-left: 15px" class="bordered"></a>
  </div>

  <div class="main">
    <h3>Więcej screencastsów na Railscasts.com</h3>
    <p>
      Jeśli powyższe screencasty zachęciły cię do dalszej nauki za pomocą filmów wideo, to na stronie Railscasts.com znajdziesz skarby wielkiej wartości. To serwis zawierający setki świetnych, krótkich, świetnych filmów omawiających różne aspekty i możliwości frameworka Ruby on Rails.
    </p>
  </div>

</div>






