---
title: Społeczność Ruby on Rails
---
<% content_for(:message) do %>
  <%= image_tag("hdr-community.gif", :alt => "Dołącz do rodziny Rails") %>
<% end %>

<div class="sub">

  <h1>Listy dyskusyjne</h1>
</div>

<div class="main">
  <p>
    <a href="http://groups.google.com/group/rubyonrails-talk">Ogólna lista dyskusyjna</a> to miejsce gdzie użytkownicy Rails <span class="highlight">szukają pomocy, ogłaszają swoje projekty i dyskutują</span> o wszystkich rzeczach związanych z frameworkiem i społecznością RoR. Jeśli pracujesz nad łatką do kodu Rails, możesz zgłosić problemy na liście <a href="http://groups.google.com/group/rubyonrails-core">rubyonrails-core</a>. Lista z ogłoszeniami o lukach w zabezpieczeniach i krytycznych łatach znajduje się <a href="http://groups.google.com/group/rubyonrails-security">tutaj</a>.
  </p>

</div>

<div class="clearall">&nbsp;</div>

<div class="sub">
  <h1>Forum / IRC</h1>
</div>

<div class="main">
  <p>Polskie forum społeczności RoR znajduje się pod adresem <a href="http://forum.rubyonrails.pl">http://forum.rubyonrails.pl</a></p>
  <p>
    Czasami łatwiej jest po prostu <span class="highlight">porozmawiać w czasie rzeczywistym</span>. Kanał <i>#rubyonrails</i> na serwerze <i>irc.freenode.net</i> poświęcony jest dokładnie temu. <a href="http://wiki.rubyonrails.com/rails/pages/IRC">Potrzebujesz klienta IRC?</a> Jeśli wolisz rozmawiać po polsku zaloguj się na kanał #rubyonrails.pl - znajdziesz tam dużo osób z polskiej społeczności RoR.

  </p>
</div>

<div class="clearall">&nbsp;</div>

<div class="sub">
  <h1>Śledzenie błędów</h1>
</div>

<div class="main">

  <p>
    Na stronie <a href="https://github.com/rails/rails/issues">GitHub Issues</a> możesz śledzić rozwój kodu Rails i zgłaszać swoje propozycje poprawek. Możesz również <a href="http://github.com/rails/rails/tree/master">przeglądać kod źródłowy</a> i być powiadamiany o <a href="http://github.com/feeds/rails/commits/rails/master">zmianach w kodzie Rails</a> poprzez RSS.
  </p>
</div>
